// Ability to change the colour scheme site wide

$primary   : #2c2a29;
$secondary : #009fdf;
$accent    : #b7d124;

$dark      : #1D1D1D;

$positive  : #2f9e44;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar-variables-styl'
